.fifth-section {
}

.fifth-section-header {
  text-align: center;
  color: red;
  margin-top: 40px;
  font-weight: bold;
}

.fifth-section-text {
  text-align: start;
  margin-top: 24px;
  display: block;
}
