.second-section {
  text-align: center;
}

.title-second-section {
  background-color: red;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  padding: 8px;
  margin-top: 40;
}

.text-second-section {
  padding: 48px 24px 40px 24px;
}
